@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutADM.cshtml";
}

<link href="~/Content/adm/css/Categoria.css" rel="stylesheet" />


<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="widget ">
                        <div class="widget-header">
                            <i class="icon-user"></i>
                            <h3>Cadastro de Subcategorias</h3>
                        </div>
                        <div class="widget-content">


                            <div style="text-align:center;">
                                <form action="/Subcategoria/AdicionaSubcategoria" id="formSubategoria" method="post">
                                    <div>

                                        <input type="hidden" name="catId" value="@ViewBag.Categorias.Id" />


                                        <label>Categoria:</label>
                                        <select name="categoria.Nome" disabled>
                                            <option>@ViewBag.Categorias.Nome</option>
                                        </select>

                                        <label id="textNome" for="nome">Subcategoria</label>
                                        <input id="nomeSubcategoria" name="nome" placeholder="Insira o nome da Subcategoria" autofocus value="@ViewBag.Subcategoria.Nome"
                                               class="form-control" maxlength="20" />

                                        <div class="form-row">

                                            <input id="botao" type="submit" class="btn btn-danger btn-block botao" value="Adicionar Subcategoria" />
                                        </div>
                                    </div>


                                </form>
                            </div>

                            <div style="float:right;"><a href="/Categoria/Index">Voltar</a></div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
   //$(document).ready(function () {

   //    botao = document.querySelector("#botao");
   //     botao.addEventListener("click", function (event) {
   //         event.preventDefault();
   //         //validaSubcategoria();
   //         $("#nomeSubcategoria").val("");
   //     });
   // });


    function validaNomeBanco() {
        var url = "@Url.Action("VerificaSubcategoriaNoBanco", "Subcategoria")";
        var params = { nome: $("#nomeSubcategoria").val() };
        $.post(url, params, verificaBanco);
    }

    function verificaBanco(resposta) {
        if (resposta.existe) {
            $.notify("Subcategoria já existe!", "error", { position: "right bottom"});
        }
    }

    function validaSubcategoria() {
        var url = "@Url.Action("AdicionaSubcategoria", "Subcategoria")";
        var params = { nome: $("#nomeSubcategoria").val() };
        $.post(url, params, verifica);
    }

    function verifica(resposta) {
        if (resposta.dadosInvalidos == true) {
            $("#nomeSubcategoria").notify("Dados Inválidos!", "error");
        } else {
            $.notify("Subcategoria cadastrada com sucesso!", "success", { position: "top center" })
        }
    }
</script>
