
@{
    ViewBag.Title = "Tela";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="title-wrapper">
    <div class="container">
        <div class="container-inner">
            <h1><span>@ViewBag.Subcategoria.Nome</span></h1>
        </div>
    </div>
</div>


<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/Home">Home</a></li>
            <li><a href="#">Loja</a></li>
            <li class="active">@ViewBag.Subcategoria.Nome</li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN SIDEBAR -->
            <div class="sidebar col-md-3 col-sm-5">
                <ul class="list-group margin-bottom-25 sidebar-menu">
                    @{ foreach (var s in ViewBag.Subcategorias)
                        {
                            if (s.Ativo == true)
                            {

                                <li class="list-group-item clearfix"><a href="@Url.Action("Tela", "TelaProdutos", new { id = s.Id })"><i class="fa fa-angle-right"></i> @s.Nome</a></li>
                            }
                        } }
                </ul>


            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="col-md-9 col-sm-7">



                <div class="row product-list list-view-sorting clearfix">
                    @{foreach (var p in ViewBag.Produto)
                        {
                            if (p.Ativo == true)
                            {

                                <!-- PRODUCT ITEM START -->
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="product-item" style="height:400px;">
                                        <div class="pi-img-wrapper">

                                            @{string img = "";
                                                if (p.Imagem != null)
                                                {
                                                    var base64 = Convert.ToBase64String(p.Imagem);
                                                    var extensao = "jpeg";

                                                    img = $"data:image/{extensao};base64,{base64}";

                                                }
                                            }

                                            <img src="@img" class="img-responsive img-fluid">
                                            <div>
                                                <a href="@Url.Action("Detalhes", "DetalhesProduto", new { id = p.Id })" class="btn btn-default fancybox-fast-view">Visualizar</a>
                                            </div>
                                        </div>
                                        <h3><a href="@Url.Action("Detalhes", "DetalhesProduto", new { id = p.Id })" style="line-height: normal;">@p.Nome</a></h3>
                                        <div class="pi-price" style="position: absolute; bottom: 45px;">R$@p.ValorUnitario</div>
                                        <a href="@Url.Action("AdicionaItem", "Carrinho", new { id = p.Id, qtd = 1 })" class="btn btn-default add2cart" style="position:absolute; bottom:15px;">Adicionar ao carrinho</a>
                                    </div>
                                </div>
                            }

                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<script>



</script>