
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_LayoutADM.cshtml";
}

<link href="~/Content/adm/css/EditarProduto.css" rel="stylesheet" />
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div>
                <div>
                    <div class="widget ">
                        <div class="widget-header">
                            <i class="icon-user"></i>
                            <h3>Editar Produto</h3>
                        </div>




                        <div class="widget-content">
                            <div style="text-align: center;">

                                <form action="/Produto/EditaProduto" method="post">


                                    <input type="hidden" name="produto.Id" value="@ViewBag.Produto.Id" />
                                    <input type="hidden" name="produto.CategoriaId" value="@ViewBag.Produto.CategoriaId" readonly />
                                    <input type="hidden" name="produto.SubcategoriaId" value="@ViewBag.Produto.SubcategoriaId" readonly />

                                    <div id="catsub">
                                        <div>
                                            <input name="cat" value="@ViewBag.Produto.Categoria.Nome" readonly />

                                            <input name="sub" value="@ViewBag.Produto.Subcategoria.Nome" readonly />


                                        </div>

                                    </div>
                                    <br />
                                    <div class="lineblock">
                                        <label id="textNome" for="nome">Nome</label>
                                        <input type="text" id="nomeProduto" name="produto.Nome" placeholder="Insira o nome do Produto" value="@ViewBag.Produto.Nome" class="form-control" maxlength="80" />

                                    </div>
                                    <div class="lineblock">
                                        <label id="textNome" for="quantidade">Quantidade</label>
                                        <input type="number" id="quantidade" name="quantidade" placeholder="Insira a quantidade" value="@ViewBag.Produto.Quantidade" class="form-control" readonly />
                                    </div>
                                    <div class="lineblock">
                                        <label id="textNome" for="valorUni">Valor Unitário</label>
                                        <input type="text" id="valorUni" name="produto.ValorUnitario" placeholder="Insira o valor unitário" value="@ViewBag.Produto.ValorUnitario" class="form-control dinheiro" maxlength="20" />
                                    </div>

                                    <div class="lineblock">
                                        <label id="textNome" for="valorCusto">Valor Custo</label>
                                        <input type="text" id="valorCusto" name="produto.ValorCusto" placeholder="Insira o valor custo" value="@ViewBag.Produto.ValorCusto" class="form-control dinheiro" maxlength="20" onkeyup="valorVenda();" />
                                    </div>


                                    <br />
                                    <br />
                                    <div>
                                        <div class="inlineblockdois">
                                            <label id="textNome" for="margemLucro">Margem de Lucro</label>
                                            <input type="text" id="margemLucro" name="produto.MargemLucro" placeholder="Margem Lucro" value="@ViewBag.Produto.MargemLucro" class="form-control dinheiro" onkeyup="valorVenda();" />
                                        </div>

                                        <div class="inlineblockdois">
                                            <label>Situação</label>
                                            <select id="selectSituacao" name="Produto.Ativo">
                                                <option value="">Selecione...</option>
                                                @if (ViewBag.Produto.Ativo)
                                                {
                                                    <option value="True" selected>Ativo</option>
                                                    <option value="False">Inativo</option>
                                                }
                                                else
                                                {
                                                    <option value="True">Ativo</option>
                                                    <option value="False" selected>Inativo</option>
                                                }
                                            </select>

                                        </div>

                                        <br />
                                        <br />
                                    </div>

                                    <br />

                                    @{string img = "";
                                        if (ViewBag.Produto.Imagem != null)
                                        {
                                            var base64 = Convert.ToBase64String(ViewBag.Produto.Imagem);
                                            var extensao = "jpeg";

                                            img = $"data:image/{extensao};base64,{base64}";

                                        }
                                    }

                                    <div>
                                        <img class="img-fluid" width="130" src="@img" />
                                        <label>Imagem do Produto</label>
                                    </div>

                                    <br />
                                    <br />
                                    <label>Descrição do produto</label>
                                    <textarea name="produto.Descricao" style="width:900px; height:100px; resize:none;">@ViewBag.Produto.Descricao</textarea>

                                    <div class="form-row">
                                        <input type="submit" class="btn btn-danger btn-block botao" value="Editar Produto" />
                                    </div>

                                </form>


                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function valorVenda() {
        var valor = $("#valorCusto").val().replace(",", ".");
        var valorConvertido = Number.parseFloat(valor);

        var margem = $("#margemLucro").val().replace(",", ".");
        var margemConvertida = Number.parseFloat(margem);

        var valorVenda = $("#valorUni");

        var total = valorConvertido;
        var conta = (margemConvertida * valorConvertido);
        var valorDeVenda = (total + conta);

        var t = Number.parseFloat(valorDeVenda).toFixed(2);

        valorVenda.val(t.toString().replace(".", ","));
    }

    $(document).ready(function () {

        botao = document.querySelector(".botao");

        botao.addEventListener("click", function (event) {
            var valor = $("#valorCusto").val().replace(",", ".");
            var valorConvertido = Number.parseFloat(valor);

            var margem = $("#margemLucro").val().replace(",", ".");
            var margemConvertida = Number.parseFloat(margem);

            var valorVenda = $("#valorUni");

            var total = valorConvertido;
            var conta = (margemConvertida * valorConvertido);
            var valorDeVenda = (total + conta);

            var t = Number.parseFloat(valorDeVenda).toFixed(2);

            valorVenda.val(t.toString().replace(".", ","));

            //if ($("#valorUni").val() < valorVenda) {
            //    event.preventDefault();
            //    alert("Valor unitário deve ser maior ou igual à margem mínima de lucro!");
            //};

        });

    });


</script>